<article class="post">
  <% if (item.layout != 'page'){ %>
    <%- partial('post/title') %>
    <div class="post-date">
      <time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
    </div>
  <% } %>
  <div class="post-content">
    <% if (item.excerpt && index){ %>
      <%- item.excerpt %>
    <% } else { %>
      <%- item.content %>
    <% } %>
  </div>
  <% if (index){ %>
      <div class="row">
    <% if (item.excerpt){ %>
      <div class="col-3 col-md-3">
        <a href="<%- config.root %><%- item.path %>#more" class="more-link"><%= __('read_more') %></a>
      </div>
    <% } %>
    <% if (item.comment && config.disqus_shortname){ %>
      <div class="col-3 col-md-3">
        <a href="<%- item.permalink %>#disqus_thread" class="comment-link">Comments</a>
      </div>
    <% } %>
    </div>
  <% } else { %>
    <%- partial('post/category') %>
    <%- partial('post/tag') %>
  <% } %>
  <%- partial('post/addthis') %>
  <% if (!index) { %>
    <ul class="next_prev">
      <% if (page.next) { %>
        <li class="prev">
        <a class="btn btn-success" role="button" href="<%-  config.root %><%- page.next.path %>">
          <%= __('prev') %>
        </a></li>
      <% } %>
      <% if (page.prev) { %>
        <li class="next">
        <a class="btn btn-success" role="button" href="<%- config.root %><%- page.prev.path %>">
          <%= __('next') %>
        </a></li>
      <% } %>
    </ul>
  <% } %>
  <%- partial('comment') %>
</article>
