<% if (theme.google_plus_id) { %>
  <a href="https://plus.google.com/<%= theme.google_plus_id %>?rel=author" class="google googleplus-hidden" title="Google+">Google+</a>
<% } %>

<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%- config.root %>"><span class="text-primary"><%- config.title %></span></a>
    </div>
    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <% for (var i in theme.menu){ %>
          <li><a href="<%- theme.menu[i] %>"><%- i %></a></li>
        <% } %>
      </ul>
      <ul class="nav navbar-nav pull-right">
      <% if (theme.twitter && theme.twitter.username) { %>
        <li><a href="https://twitter.com/<%- theme.twitter.username %>">twitter</a></li>
      <% } else if (theme.twitter_id) { %>
        <li><a href="https://twitter.com/<%- theme.twitter_id %>">twitter</a></li>
      <% } %>
      <% if (theme.facebook_id) { %>
        <li><a href="https://www.facebook.com/<%- theme.facebook_id %>">facebook</a></li>
      <% } %>
      <% if (theme.linked_id) { %>
        <li><a href="http://www.linkedin.com/in/<%- theme.linkedin_id %>">linkedin</a></li>
      <% } %>
      <% if (theme.github_id) { %>
        <li><a href="https://github.com/jmervine<%- theme.twitter_id %>">github</a></li>
      <% } %>
      </ul>
    </div>
  </div>
</div>

