<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = [];
  if (page.current > 1) title.push(__('page', page.current));
  if (page.title) title.push(page.title);
  if (page.category) title.push(page.category);
  if (page.tag) title.push(page.tag);
  if (page.archive){
    if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
    else title.push(__('archive_a'));
  }
  title.push(config.title);
  %>
  <title><%= title.join(' | ') %></title>
  <% if (config.author){ %><meta name="author" content="<%= config.author %>"><% } %>
  <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>">
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>">
  <% } else if (page.excerpt){ %>
  <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
  <% } else if (page.content){ %>
  <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } %>
  <% if (page.keywords){ %>
  <meta name="keywords" content="<%= page.keywords %>"/>
  <% } else if (config.keywords) { %>
  <meta name="keywords" content="<%= page.config %>"/>
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="generator" content="Hexo 2.6.0"/>

  <% if (page.title){ %><meta property="og:title" content="<%= page.title %>"/><% } %>
  <meta property="og:site_name" content="<%= config.title %>"/>

  <% if(page.cover) { %>
    <meta property="og:image" content="<%= page.cover %>" />
  <% } else { %>
    <meta property="og:image" content="<%= config.cover %>"/>
  <% } %>

  <link href="<%- config.root %>favicon.png" rel="shortcut icon">

  <% if (theme.highlight.style) { %>
    <link rel="stylesheet" href="<%-config.root%>css/highlightjs/<%- theme.highlight.style %>.css">
  <% } else { %>
    <link rel="stylesheet" href="<%-config.root%>css/highlightjs/github.css">
  <% } %>

  <link rel="alternate" href="<% if (theme.rss){ %><%- theme.rss %><% } else { %><%- config.root %>atom.xml<% } %>" title="<%= config.title %>" type="application/atom+xml">

  <link href="<%- config.root %>css/site.css" rel="stylesheet">
  <script type="text/javascript" src="<%- config.root %>js/jquery.min.js"></script>
  <script type="text/javascript" src="<%- config.root %>js/jquery.caption.min.js"></script>
  <link href="<%- config.root %>css/captionjs.min.css" rel="stylesheet"/>
  <script type="text/javascript" src="<%- config.root %>js/ewal.js"></script>

  <% if (page.scripts) { page.scripts.forEach(function(item){ %>
    <script type="text/javascript" src="<%= item %>"></script>
  <% })} %>

<% if (theme.addthis && theme.addthis.pubid) { %>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":false, "data_track_clickback":false};</script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=<%= theme.addthis.pubid %>"></script>
<% } %>
</head>
